<a href="https://colab.research.google.com/github/chuchsg/Introduction-to-Computers-/blob/main/0606ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i += 1
print("0~50的偶數和結果是%d" %result)

0~50的偶數和結果是650

In [2]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i += 1
print("0~50的奇數和結果是%d" %result)

0~50的奇數和結果是625

In [4]:
n = int(input("請輸入正整數:"))
for i in range(1, n+1):
  for j in range(i, n+1):
    print("*", end = "")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [5]:
sum = 0
for i in range(0,101):
  if i%3==0 or i%7==0:
    sum += i
print("數值 1~100 中，所有是 3 或 7 倍數的數之總和 =", sum)

數值 1~100 中，所有是 3 或 7 倍數的數之總和 = 2208

In [7]:
p = 1
counter = 0
n = int(input("請輸入正整數:"))
print(n, "的因數有", end=" ")

while p <= n:
  if n % p == 0:
    print(p, end=" ")
    counter += 1
  p += 1

print()
if counter == 2:
  print(n, "是質數")
else:
  print(n, "不是質數")

請輸入正整數:1
1 的因數有 1
1 不是質數

In [8]:
list1 = [1,2,3,4,5]

In [9]:
list1

[1, 2, 3, 4, 5]

In [10]:
list2 = ["香蕉","蘋果","橘子"]

In [11]:
list2

['香蕉', '蘋果', '橘子']

In [14]:
list3 = [1,"香蕉",True]

In [15]:
list3

[1, '香蕉', True]

In [16]:
print(list1)

[1, 2, 3, 4, 5]

In [17]:
print(list1[0])

1

In [18]:
print(list1[1])

2

In [19]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [20]:
list4 = ["香蕉","蘋果","橘子"]

In [21]:
print(list4[1])

蘋果

In [22]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [23]:
print(list4[3])

IndexError: ignored

In [24]:
print(list4[-1])

橘子

In [25]:
print(list4[-2])

蘋果

In [26]:
print(list4[-3])

香蕉

In [27]:
print(list4[-4])

IndexError: ignored

In [32]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [33]:
print(list5[1])

['mary', 'abcd']

In [34]:
print(list5[0])

[['tom', '1234']]

In [35]:
print(list5[1][1])

abcd

In [36]:
print(list5[0])

[['tom', '1234']]

In [37]:
print(list5[0][0])

['tom', '1234']

In [38]:
print(list5[0][0])

['tom', '1234']

In [39]:
print(list5[1][0])

mary

In [41]:
score = [85,79,93]
print("國文成績: %d分" %score[0])
print("數學成績: %d分" %score[1])
print("英文成績: %d分" %score[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [51]:
list6 = [1,2,3,4,5]

In [52]:
print(list6[0])

1

In [53]:
list6[0] = 9

In [54]:
print(list6[0])

9

In [55]:
print(list6)

[9, 2, 3, 4, 5]

In [56]:
list7 = ["香蕉","蘋果","橘子"]

In [58]:
for s in list7:
  print(s, end=",")

香蕉,蘋果,橘子,

In [61]:
item = [123,"apple",True]

In [62]:
for s in item:
  print(s)

123
apple
True

In [66]:
score = [85,79,93]

In [67]:
print(len(score))

3

In [68]:
score = [85,79,93]
for i in range(len(score)):
  print(score[i])

85
79
93

In [84]:
subject = ["國文","數學","英文"]
score = [85,79,93]

for i in range(len(score)):
  print("%s成績:%d分" %(subject[i],score[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [86]:
number = [1,2,3]
name = ["Tom","Mary","Tony"]

for i in range(len(number)):
  print("編號:%d 姓名: %s" %(number[i],name[i]))

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony